.admin_page {
    padding: 32px;
    background: #EFEFEF;
    min-height: 100vh;
}

.title {
    font-family: Raleway;
    font-weight: 500;
    font-size: 40px;
    leading-trim: Cap height;
    line-height: 100%;
    color: #3A3A3A;
    padding: 30px 30px 30px 16px;
}

.breadcrumb {
    color: #3A3A3A;
    font-size: 14px;
    margin-bottom: 16px;
    margin-left: 12px;
    font-family: Raleway, serif;
}

.breadcrumb_link {
    color: #3A3A3A;
    text-decoration: none;
    font-family: Raleway, serif;
    font-size: 14px;
    line-height: 120%;
}

.breadcrumb_link:hover {
    text-decoration: underline;
}

.breadcrumb_separator {
    margin: 0 4px;
    color: #3A3A3A;
}

.breadcrumb_active {
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #375FFF;
    text-decoration: none;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 16px;
}

.card {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    flex: 1 1 300px;
    gap: 10px;
    max-width: 340px;
    min-width: 280px;
    cursor: pointer;
}

.card_header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    margin-bottom: 8px;
}

.card_icon {
    font-size: 20px;
}

.card_title {
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #3A3A3A;
    margin-left: 4px;
}

.card_description {
    font-family: Raleway;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #3A3A3A;
}

@media (max-width: 1200px) {
    .title {
        align-self: center;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 26px;
    }
}