.admin_events_page {
    padding: 32px;
    background: #EFEFEF;
    min-height: 100vh;
}

.events_container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    top: 312px;
    left: 200px;
    border-radius: 8px;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.title {
    font-family: Raleway;
    font-weight: 500;
    font-size: 40px;
    leading-trim: Cap height;
    line-height: 100%;
    color: #3A3A3A;
    padding: 30px 30px 30px 16px;
}

.title_name {
    font-family: Raleway;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    color: #3A3A3A;
    padding-bottom: 12px;
    margin-left: 16px;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    color: #3A3A3A;
    font-size: 14px;
    margin-bottom: 16px;
    margin-left: 16px;
    font-family: Raleway, serif;
}

.breadcrumb_link {
    color: #3A3A3A;
    text-decoration: none;
    font-family: Raleway, serif;
    font-size: 14px;
    line-height: 120%;
}

.breadcrumb_link:hover {
    text-decoration: underline;
}

.breadcrumb_separator {
    margin: 0 4px;
    color: #3A3A3A;
}

.breadcrumb_active {
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #375FFF;
    text-decoration: none;
}

.add_event_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    margin-left: 16px;
    border-radius: 8px;
    border: 1px solid #375FFF;
    gap: 8px;
    padding: 6px 8px;
    color: #375FFF;
    width: 98%;
    margin-bottom: 22px;
    cursor: pointer;
}

.search_button {
    border: none;
    width: 30%;
    border-radius: 8px;
    padding: 12px 30px 12px 30px;
    cursor: pointer;

    font-weight: 400;
    font-size: 16px;

    background: #375FFF;
    font-family: Roboto, serif;
    color: #FFFFFF;
}

.filter_button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 32px;
    border: none;
    width: 98px;
    border-radius: 8px;
    cursor: pointer;
    padding: 6px 8px 6px 8px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    background: #FFFFFF;
    font-family: Roboto, serif;
    color: #375FFF;

    border: 1px solid #375FFF;
}

.row_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    padding: 24px 32px;
    background: #F9F9F9;
    width: 98%;
    margin-left: 16px;
}

.base_text {
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    vertical-align: middle;
}

.input_wrapper {
    position: relative;
    width: 50%;

    &:hover, &:active {

        .item_input_choose {
            border: 1px solid #3A3A3A;
        }

        .label_choose {
            color: #3A3A3A;
        }
    }
}

.item_input_choose {
    width: 100%;
    height: 42px;
    gap: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #3A3A3A80;
    outline:none;
    background: #F9F9F9;
}

.label_choose {
    position: absolute;
    font-family: Raleway, serif;
    font-weight: 500;
    font-size: 14px;
    top: -8px;
    left: 15px;
    line-height: 120%;
    background: #F9F9F9;
    color: #9D9D9D;
    padding: 1px;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
}

.hidden_section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pagination_container {
    display: flex;
    justify-content: center;
}

.event_link {
    text-decoration: none;
    color: inherit;
}

.event_link:hover {
    text-decoration: none;
}

/*Item event page*/
.item_event_title {
    font-family: Raleway;
    font-weight: 500;
    font-size: 32px;
    leading-trim: Cap height;
    line-height: 120%;

    color: #3a3a3a;
}

.item_page_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.event_buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.header_item_event {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.image_item_event {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    border-radius: 8px;
    max-height: 300px;
}

.section_name_text {
    height: 17px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #666666;
}

.section_item_block {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.section_base_text {
    font-family: Raleway;
    color: #3A3A3A;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 4px;
}

.section_row {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.section_container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 80%;
    overflow: hidden;
}

.members_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border-radius: 8px;
    background: #F9F9F9;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #EFEFEF;
}

.tabs button {
    font-family: Raleway;
    font-size: 18px;
    color:  #666666;
    border: none;
    background: none;
    cursor: pointer;
    padding: 15px;
}

.tabs button.active {
    color: #375FFF;
    font-weight: bold;
    border-bottom: 2px solid #375FFF;
    margin-bottom: -1px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 10px;
}

.participant_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.participant_name {
    font-family: Raleway;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #3a3a3a;
}

.participant_avatar_wrapper {
    text-align: center;
    padding: 1rem 0;
}

.participant_menu_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.participant_column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.left_part {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
}

.map_container {
    width: 50%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
}

@media (max-width: 768px) {
    .pagination_container {
        padding: 10px;
    }

    .item_service {
        flex-direction: column;
    }

    .service_buttons {
        align-self: end;
    }

    .section_item_block {
        gap: 16px;
    }
}

@media (max-width: 600px) {
    .admin_events_page {
       padding-left: 0px;
        padding-right: 16px;
    }

    .pagination_container {
        padding: 10px;
    }

    .title {
        font-size: 30px;
    }

    .search_button {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 12px;
    }

    .main_data_container {
        flex-direction: column;
        width: 100%;
    }

    .left_data_container {
        width: 100%;
    }

    .image {
        width: 340px;
    }

}

@media (max-width: 400px) {
    .item_user_page {
        padding-left: 0px;
    }

    .label_choose {
        font-size: 10px;
    }

    .section_row {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .main_part {
        flex-direction: column;
    }

    .left_part {
        width: 100%;
    }

    .map_container {
        width: 100%;
    }
}