.admin_events_page {
    padding: 32px;
    background: #EFEFEF;
    min-height: 100vh;
}

.events_container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    top: 312px;
    left: 200px;
    border-radius: 8px;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.title {
    font-family: Raleway;
    font-weight: 500;
    font-size: 40px;
    leading-trim: Cap height;
    line-height: 100%;
    color: #3A3A3A;
    padding: 30px 30px 30px 16px;
}

.title_name {
    font-family: Raleway;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    color: #3A3A3A;
    padding-bottom: 12px;
    margin-left: 16px;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    color: #3A3A3A;
    font-size: 14px;
    margin-bottom: 16px;
    margin-left: 16px;
    font-family: Raleway, serif;
}

.breadcrumb_link {
    color: #3A3A3A;
    text-decoration: none;
    font-family: Raleway, serif;
    font-size: 14px;
    line-height: 120%;
}

.breadcrumb_link:hover {
    text-decoration: underline;
}

.breadcrumb_separator {
    margin: 0 4px;
    color: #3A3A3A;
}

.breadcrumb_active {
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #375FFF;
    text-decoration: none;
}

.add_event_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    margin-left: 16px;
    border-radius: 8px;
    border: 1px solid #375FFF;
    gap: 8px;
    padding: 6px 8px;
    color: #375FFF;
    width: 98%;
    margin-bottom: 22px;
    cursor: pointer;
}

.search_button {
    border: none;
    width: 30%;
    border-radius: 8px;
    padding: 12px 30px 12px 30px;
    cursor: pointer;

    font-weight: 400;
    font-size: 16px;

    background: #375FFF;
    font-family: Roboto, serif;
    color: #FFFFFF;
}

.filter_button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 32px;
    border: none;
    width: 98px;
    border-radius: 8px;
    cursor: pointer;
    padding: 6px 8px 6px 8px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    background: #FFFFFF;
    font-family: Roboto, serif;
    color: #375FFF;

    border: 1px solid #375FFF;
}

.row_container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    padding: 24px 32px;
    background: #F9F9F9;
    width: 98%;
    margin-left: 16px;
}

.base_text {
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    vertical-align: middle;
}

.input_wrapper {
    position: relative;
    width: 50%;

    &:hover, &:active {

        .item_input_choose {
            border: 1px solid #3A3A3A;
        }

        .label_choose {
            color: #3A3A3A;
        }
    }
}

.item_input_choose {
    width: 100%;
    height: 42px;
    gap: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #3A3A3A80;
    outline:none;
    background: #F9F9F9;
}

.label_choose {
    position: absolute;
    font-family: Raleway, serif;
    font-weight: 500;
    font-size: 14px;
    top: -8px;
    left: 15px;
    line-height: 120%;
    background: #F9F9F9;
    color: #9D9D9D;
    padding: 1px;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
}

.hidden_section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pagination_container {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .pagination_container {
        padding: 10px;
    }

    .item_service {
        flex-direction: column;
    }

    .service_buttons {
        align-self: end;
    }
}

@media (max-width: 600px) {
    .pagination_container {
        padding: 10px;
    }

    .title {
        font-size: 30px;
    }

    .search_button {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 12px;
    }

    .main_data_container {
        flex-direction: column;
        width: 100%;
    }

    .left_data_container {
        width: 100%;
    }

    .image {
        width: 340px;
    }

}

@media (max-width: 400px) {
    .item_user_page {
        padding-left: 0px;
    }

    .section_row {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
}