.dropdown_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 144px;
    gap: 10px;
    border-radius: 8px;
    padding: 12px;
    background: #F9F9F9;
}

.dropdown_li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

[data-first] {
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 10px;
}