.input_container {
    position: relative;
    width: 100%;

    &:hover, &:active {

        .item_input {
            border: 1px solid #3A3A3A;
        }

        .label {
            color: #3A3A3A;
        }
    }
}

.item_input {
    width: 100%;
    height: 42px;
    gap: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #3A3A3A80;
    outline:none;
    background: #F9F9F9;
}

.label {
    position: absolute;
    font-family: Raleway, serif;
    font-weight: 500;
    font-size: 14px;
    top: -8px;
    left: 15px;
    line-height: 120%;
    background: #F9F9F9;
    color: #9D9D9D;
    padding: 1px;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
}


