.posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

.item_post {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section_container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.section_row {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.section_name_text {
    height: 17px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #666666;
}

.section_item_block {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.section_base_text {
    font-family: Raleway;
    color: #3A3A3A;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 4px;
}

.section_row {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.bold_text {
    flex: 1;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    leading-trim: Cap height;
    line-height: 120%;
    color: #3A3A3A;
    font-weight: 700;
}