.menu {
    background-color: #fff;
    transition: width 0.3s;
    position: relative;
}

.menu_open {
    width: 240px;
}

.menu_closed {
    width: 80px;
}

.toggleButton {
    position: absolute;
    right: -1.5rem;
    cursor: pointer;
    padding: 1rem;
    text-align: right;
    z-index: 9999;
}

.toggleButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    position: relative;
    padding-top: 15px;
}

.menuList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuList li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}

.menuList li:hover {
    background: #f0f0f0;
}

.activeItem {
    border-left: 3px solid #375FFF;
    background: #375FFF1A;
}

.menuLink {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
}

.admin_link {

}

.menu_avatar_wrapper {
    text-align: center;
    padding: 1rem 0;
}

.menu_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.mobileMenuIcon {
    cursor: pointer;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}