.menu {
    background-color: #fff;
    transition: width 0.3s;
    position: relative;
}

.menu_open {
    width: 240px;
}

.menu_closed {
    width: 80px;
}

.toggleButton {
    position: absolute;
    right: -1.5rem;
    cursor: pointer;
    padding: 1rem;
    text-align: right;
    z-index: 9999;
}

.toggleButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: relative;
}

.menuList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuList li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}

.menuList li:hover {
    background: #f0f0f0;
}

.activeItem {
    border-left: 3px solid #375FFF;
}

.menuLink {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
}

.admin_link {
    background: #375FFF1A;
}