.button {
    height: 49px;
    border: none;
    border-radius: 8px;
    padding: 15px 42px 15px 40px;
    cursor: pointer;

    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.button.primary {
    background: #375FFF;
    font-family: Roboto, serif;
    color: #FFFFFF;
}

.button.outlined {
    border-radius: 8px;
    border: 1px solid #3A3A3A;
    background: none;
    font-family: Raleway, serif;
}