.modal_overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: #00000033;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    display: flex;
    flex-direction: column;
    background: #F9F9F9;
    border-radius: 8px;
    padding: 25px;
    gap: 20px;
    max-width: 600px;
    width: 100%;
}

.close_button {
    cursor: pointer;
    align-self: flex-end;
}

.modal_title {
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #3A3A3A;
}

.input_wrapper {
    position: relative;

    &:hover, &:active {

        .item_input_choose {
            border: 1px solid #3A3A3A;
        }

        .label_choose {
            color: #3A3A3A;
        }
    }
}

.item_input_choose {
    width: 100%;
    height: 56px;
    gap: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #3A3A3A80;
    outline:none;
    background: #F9F9F9;
}

.label_choose {
    position: absolute;
    font-family: Raleway, serif;
    font-weight: 500;
    font-size: 14px;
    top: -8px;
    left: 15px;
    line-height: 120%;
    background: #F9F9F9;
    color: #9D9D9D;
    padding: 1px;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
}

.modal_form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttons_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.button_primary {
    height: 49px;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 15px 42px 15px 40px;
    cursor: pointer;

    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    background: #375FFF;
    font-family: Roboto, serif;
    color: #FFFFFF;
}

.button_outlined {
    height: 49px;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 15px 42px 15px 40px;
    cursor: pointer;

    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    border-radius: 8px;
    border: 1px solid #3A3A3A;
    background: none;
    font-family: Raleway, serif;
}