.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    width: 50%;


    &:hover, &:active {

        .item_input_choose {
            border: 1px solid #3A3A3A;
        }

        .label_choose {
            color: #3A3A3A;
        }
    }
}

.label {
    position: absolute;
    top: -10px;
    left: 12px;
    background: #F9F9F9;
    padding: 0 6px;
    font-size: 14px;
    font-weight: 500;
    color: #9D9D9D;
    z-index: 2;
    pointer-events: none;
}

.item_input_choose {
    width: 100%;
    height: 42px;
    padding: 14px 8px 8px 8px;
    border-radius: 8px;
    border: 1px solid #3A3A3A80;
    background: #F9F9F9;
    font-size: 14px;
    outline: none;
    position: relative;
    z-index: 1;
}


.inputWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input {
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 14px;
    width: 220px;
}


.react-datepicker__input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

:global(.react-datepicker-wrapper) {
    width: 100%;
}

.datepicker_container {
    position: relative;
    width: 100%;
}

._datepicker_container_z4uwr_82 {
    width: 80%;
}