.item_event {
    display: flex;
    flex-direction: row;
    gap: 16px;
    border-radius: 8px;
    padding: 24px 32px;
    background: #F9F9F9;
}

.event_image {
    display: flex;
    align-items: center;
    width: 210px;
    object-fit: cover;
    border-radius: 8px;
}

.section_container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 80%;
    overflow: hidden;
}

.title_event {
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    vertical-align: middle;
}

.section_name_text {
    height: 17px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #666666;
}

.section_item_block {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.section_base_text {
    font-family: Raleway;
    color: #3A3A3A;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 4px;
}

.section_row {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.section_container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 80%;
    overflow: hidden;
}

.event_buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.menu_item {
    display: flex;
    justify-content: center;
    width: fit-content;
    border-radius: 8px;
    padding: 5px 15px;
    gap: 10px;
    font-family: Raleway, serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
}

.draft {
    background-color: #9C9C9C;
    color: white;
}

.actual {
    background-color: #A0D000;
    color: white;
}

.finished {
    background-color: #46B34A;
    color: white;
}

.archive {
    background-color: #3A3A3A;
    color: white;
}

@media (max-width: 768px) {
    .item_event {
        flex-direction: column;
    }

    .section_item_block {
        gap: 18px;
    }

    .event_buttons {
        align-self: end;
    }
}