.auth_page {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #EFEFEF;
    justify-content: center;
    align-items: center;
}

.register_container {
    width: 100%;
    height: 100%;
    display: flex;
}

.img {
    width: 38%;
    height: 38%;
}

@media screen and (max-width: 800px) {
    .auth_page {
        flex-direction: column;
        gap: 6px;
    }

    .img {
        width: 100%;
        height: 30%;
    }
}