.error_page {
    margin-left: 180px;
    margin-top: 115px;
    width: 100%;
    height: 100%;
}

.error_code_text {
    font-family: Roboto, serif;
    font-weight: 400;
    font-size: 310px;
    line-height: 100%;

    color: #375FFF;
}

.error_text {
    font-family: Raleway, serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;

    color: #3A3A3A;
}

.what_happened_text {
    font-family: Raleway, serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;

    color: #3A3A3A;
}

.desc_text {
    font-family: Raleway, serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;

    color: #3A3A3A;
}

.info_text {
    font-family: Raleway, serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;

    color: #375FFF;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 66px;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;

    position: relative;
    top: 60px;

    gap: 20px;
}

.error_line {
    position: absolute;
    color: #FFFFFF;
    background: #375FFF;

    font-family: Raleway, serif;
    font-weight: 700;
    font-size: 32px;
    padding: 20px 0;
    line-height: 120%;
    letter-spacing: 5px;
    text-align: center;

    width: 3000px;
    white-space: pre;
}

.line1 {
    top: 300px;
    left: -300px;
    transform: rotate(35deg);
}

.line2 {
    top: 100px;
    left: 300px;
    transform: rotate(-35deg);
}

@media screen and (max-width: 800px) {
    .error_page {
        margin-left: 10px;
        margin-top: 10px;
    }

    .error_code_text {
        font-size: 244px;
    }

    .error_line {
        max-width: 100%;
        overflow: hidden;
    }

    .line1 {
        display: none;
    }

    .line2 {
        display: none;
    }
}