.profile_page {
    background: #EFEFEF;
}
.profile_page {
    padding: 32px;
    color: #000;
}

.title {
    font-family: Raleway;
    font-weight: 500;
    font-size: 40px;
    leading-trim: Cap height;
    line-height: 100%;
    color: #3A3A3A;
    padding: 30px;
}

.profile_container {
    display: flex;
    gap: 5px;
}

.left_menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
}

.avatar {
    width: 400px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    border-radius: 8px;
    padding: 32px;
    background: #F9F9F9;
}

.section_item_block {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.main_info {
    flex: 1;
    border-radius: 12px;
    padding: 16px;
}

.education_block {
    margin-top: 16px;
}

.tabs {
    padding-left: 15px;
    border-bottom: 1px solid #EFEFEF;
}

.tabs button {
    font-family: Raleway;
    font-size: 20px;
    color:  #666666;
    border: none;
    background: none;
    cursor: pointer;
    padding: 15px;
}

.tabs button.active {
    color: #375FFF;
    font-weight: bold;
    border-bottom: 2px solid #375FFF;
    margin-bottom: -1px;
}

.content {
    margin: 25px;
}

/*text styles*/
.section_header_text {
    width: 153px;
    height: 24px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}

.section_base_text {
    font-family: Raleway;
    color: #3A3A3A;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 12px;
}

.section_name_text {
    height: 17px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #666666;
}

.title_name {
    font-family: Raleway;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    color: #3A3A3A;
    padding-bottom: 12px;
}