.profile_page {
    background: #EFEFEF;
    min-height: 100vh;
}

.profile_page {
    padding: 32px;
    color: #000;
}

.title {
    font-family: Raleway;
    font-weight: 500;
    font-size: 40px;
    leading-trim: Cap height;
    line-height: 100%;
    color: #3A3A3A;
    padding: 30px 30px 30px 16px;
}

.profile_container {
    display: flex;
    gap: 5px;
}

.left_menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
}

.avatar {
    width: 400px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    border-radius: 8px;
    padding: 32px;
    background: #F9F9F9;
}

.section_item_block {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.main_info {
    flex: 1;
    border-radius: 12px;
    padding: 16px;
    width: 50%;
}

.education_block {
    margin-top: 16px;
}

.tabs {
    padding-left: 15px;
    border-bottom: 1px solid #EFEFEF;
}

.tabs button {
    font-family: Raleway;
    font-size: 20px;
    color:  #666666;
    border: none;
    background: none;
    cursor: pointer;
    padding: 15px;
}

.tabs button.active {
    color: #375FFF;
    font-weight: bold;
    border-bottom: 2px solid #375FFF;
    margin-bottom: -1px;
}

.content {
    margin: 21px;
}

/*text styles*/
.section_header_text {
    width: 153px;
    height: 24px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}

.section_base_text {
    font-family: Raleway;
    color: #3A3A3A;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 12px;
}

.section_name_text {
    height: 17px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #666666;
}

.title_name {
    font-family: Raleway;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    color: #3A3A3A;
    padding-bottom: 12px;
}

.mobile_only {
    display: none;
}

.desktop_only {
    display: block;
}

@media (max-width: 900px) {
    .mobile_only {
        display: block;
    }

    .desktop_only {
        display: none;
    }

    .section {
        width: 100%;
    }

    .avatar {
        max-width: 400px;
        align-self: center;
        width: 100%;
    }

    label {
        align-self: center;
    }

    .section_item_block {
        gap: 16px;
    }

    .left_menu {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .profile_page {
        padding: 26px;
    }
    .profile_container {
        flex-direction: column;
    }

    .left_menu {
        width: auto;
    }

    .section_item_block {
        gap: 16px;
    }

    .main_info {
        width: 100%;
    }
}