.certificate_page {
    display: flex;
    gap: 10px;
}

.main_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border-radius: 8px;
    background: #F9F9F9;
    margin: 16px;
}

.tabs {
    display: flex;
    padding-left: 16px;
    border-bottom: 1px solid #EFEFEF;
}

.tabs button {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: Raleway;
    font-size: 20px;
    color:  #666666;
    border: none;
    background: none;
    cursor: pointer;
    padding: 15px;
}

.tabs button.active {
    color: #375FFF;
    font-weight: bold;
    border-bottom: 2px solid #375FFF;
    margin-bottom: -1px;
}

.content {
    margin: 21px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section_name_text {
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #666666;
}

.section_item_block {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.section_base_text {
    font-family: Raleway;
    color: #3A3A3A;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 4px;
}

.section_row {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.section_container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 80%;
    overflow: hidden;
}

.input_wrapper {
    position: relative;
    width: 50%;

    &:hover, &:active {

        .item_input_choose {
            border: 1px solid #3A3A3A;
        }

        .label_choose {
            color: #3A3A3A;
        }
    }
}

.item_input_choose {
    width: 100%;
    height: 42px;
    gap: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #3A3A3A80;
    outline:none;
    background: #F9F9F9;
}

.label_choose {
    position: absolute;
    font-family: Raleway, serif;
    font-weight: 500;
    font-size: 14px;
    top: -8px;
    left: 15px;
    line-height: 120%;
    background: #F9F9F9;
    color: #9D9D9D;
    padding: 1px;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
}

.order_button {
    border: none;
    width: 30%;
    border-radius: 8px;
    padding: 12px 30px 12px 30px;
    cursor: pointer;

    font-weight: 400;
    font-size: 16px;

    background: #375FFF;
    font-family: Roboto, serif;
    color: #FFFFFF;
}

.order_row {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 16px;
}

.order_text {
    padding-left: 16px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #3A3A3A;
}

.certificates_container {
    padding: 0 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item_certificate {
    display: flex;
    justify-content: space-between;
}

.certificate_main_part {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.certificate_title {
    font-family: Raleway;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #3A3A3A;
}

.certificate_status {
    display: flex;
    width: fit-content;
    border-radius: 8px;
    padding: 5px 15px;
    gap: 10px;
    font-family: Raleway, serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    border: none;
    width: 100%;
    height: 30px;
    color: #F9F9F9;
    align-items: center;
}

.certificate_status:last-child {
    margin-bottom: 0;
}

.finished {
    background-color: #A0D000;
}

.created {
    background-color: #9C9C9C;
}

.inprocess {
    background-color: #F69D1E;
}

.buttons_container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.save_signature_button {
    display: flex;
    width: fit-content;
    border-radius: 8px;
    padding: 5px 15px;
    gap: 10px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    color: #375FFF;
    background: #F9F9F9;
    border: 1px solid #375FFF;
    cursor: pointer;
}

.save_certificate_button {
    display: flex;
    width: fit-content;
    border-radius: 8px;
    padding: 5px 15px;
    gap: 10px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    background: #375FFF;
    color: #F9F9F9;
    border: none;
    cursor: pointer;
}

.switch_user_type_tabs {
    width: 30%;
    height: fit-content;
    border-radius: 8px;
    background: #F9F9F9;
    margin: 16px;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EFEFEF;
}

.switch_user_type_tabs button {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: Raleway;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #3A3A3A;
    background: none;
    cursor: pointer;
    padding: 15px;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    border-right: none;
    border-left: none;
}

.switch_user_type_tabs button.active {
    color: #375FFF;
    font-weight: bold;
    border-left: 2px solid #375FFF;
    margin-bottom: -1px;
}


.input_wrapper_full {
    position: relative;
    width: 100%;
    margin-left: 16px;
    margin-top: 16px;

    &:hover, &:active {

        .item_input_choose {
            border: 1px solid #3A3A3A;
        }

        .label_choose {
            color: #3A3A3A;
        }
    }
}

.item_input_choose {
    width: 100%;
    height: 42px;
    gap: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #3A3A3A80;
    outline:none;
    background: #F9F9F9;
}

.label_choose {
    position: absolute;
    font-family: Raleway, serif;
    font-weight: 500;
    font-size: 14px;
    top: -8px;
    left: 15px;
    line-height: 120%;
    background: #F9F9F9;
    color: #9D9D9D;
    padding: 1px;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
}

@media (max-width: 1130px) {
    .certificate_main_part {
        gap: 12px;
    }
}

@media (max-width: 700px) {
    .certificate_page {
        flex-direction: column;

    }
    .order_row {
        flex-direction: column;
        width: 100%;
    }
    .input_wrapper {
        width: 100%;
    }
    .order_button {
        width: 100%;
    }

}

@media (max-width: 500px) {
    .buttons_container {
        flex-direction: column;
    }
}
